<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new Evento</h2>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">

        <!-- Event Name -->
        <div class="sm:col-span-2">
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Name</label>
          <input type="text" id="name" formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                   dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Type event name" required>
        </div>

        <!-- Event Date -->
        <div class="sm:col-span-2">
          <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Event Date</label>
          <input type="date" id="date" formControlName="eventDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                   dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>

        <!-- Event Enabled -->
         <div class="sm:col-span-2">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" formControlName="enabled" class="sr-only peer">
          <div
            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600">
          </div>
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Enabled</span>
        </label>
        </div>

        <!-- Event DefaultLayout -->
         <div class="sm:col-span-2">
        <label class="inline-flex items-center cursor-pointer mt-4">
          <input type="checkbox" formControlName="defaultLayout" class="sr-only peer">
          <div
            class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600">
          </div>
          <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Default Layout</span>
        </label>
        </div>

      </div>

      <!-- Buttons -->
      <div class="flex gap-3">
        <button type="submit"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium
                 text-center text-white bg-indigo-700 rounded-lg focus:ring-4
                 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
          Add Event
        </button>
        <button type="button" (click)="onCancel()"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium
                 text-center text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300">
          Cancel
        </button>
      </div>
    </form>
  </div>
</section>
