<div class="flex justify-center">

          <div class="grid-mapa" aria-label="Mapa del recinto por zonas, en cuadrados">
            <!-- Barra superior y baños -->

            <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none  [grid-column:4] [grid-row:2]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:4]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:5]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:6]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:7]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:8]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-orange-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:4] [grid-row:9]">

                P</div>

              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-pink-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:2] [grid-row:2]">

                P</div>

              <div class="flex items-center justify-center border border-black [grid-column:2] [grid-row:3]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"
                  class="w-16 h-16 text-black transform -rotate-90" fill="none" stroke="currentColor" stroke-width="2">
                  <rect x="20" y="10" width="24" height="6" />
                </svg>
              </div>

              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-pink-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:2] [grid-row:4]">
                p
              </div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-pink-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:2] [grid-row:5]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-pink-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:2] [grid-row:6]">

                P</div>
              <div
                class="flex items-center justify-center p-6 text-center text-gray-900 bg-pink-300 rounded-lg border border-gray-100 shadow dark:border-gray-600 dark:bg-gray-800 dark:text-white font-bold text-xs select-none [grid-column:2] [grid-row:7]">

                P</div>


          </div>

        </div>
